<div class="app-content">
  <div class="user-profile" *ngIf="(isLoggedIn$ | async)">
    Hey {{user.firstName}} {{user.lastName}}! Good day ahead!
  </div>
  <div class="action-btn">
    <button class="app-btn" mat-raised-button color="primary" *ngIf="!(isLoggedIn$ | async)" (click)="login()">Login
    </button>
    <button class="app-btn" mat-raised-button color="primary" *ngIf="(isLoggedIn$ | async)" (click)="logout()">Logout
    </button>
  </div>
</div>
