@import "~src/custom-material-app-theme.scss";

mat-card {
  max-width: 300px;
  margin: 32px auto;
  h1 {
    text-transform: capitalize;
    margin: 0;
  }
  mat-icon.mat-icon {
    font-size: 16px;
    vertical-align: middle;
    margin-bottom: -3px;
    color: $gray;
  }
}
