<ng-container *ngIf="(user$ | async),let user">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>{{user.firstName + ' ' + user.lastName}}</h1>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="user.picture.large" [alt]="user.firstName + ' ' + user.lastName">
    <mat-card-content>
      <p mat-line>
        <mat-icon>email</mat-icon>
        {{user.email}}
      </p>
      <p mat-line>
        <mat-icon>phone</mat-icon>
        {{user.phone}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" routerLink="/users">BACK</button>
    </mat-card-actions>
  </mat-card>
</ng-container>

