@import "~src/custom-material-app-theme.scss";

[routerLink]:focus {
  outline: none;
}

.logo {
  margin-right: 10px;
  img {
    max-height: 40px;
  }
}

.title {
  flex: 1;
}

.logo, .title {
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

.profile-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  .initials {
    background-color: $silver;
    border-radius: 50%;
    height: 40px;
    line-height: 40px;
    width: 40px;
    text-align: center;
    color: black;
    font-weight: 400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    &:hover {
      cursor: pointer;
      background-color: $primary-dark;
      color: white;
    }
  }
}

.action-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  button[mat-button] {
    &.active {
      background-color: $primary-dark;
    }
  }
}

mat-toolbar.mat-toolbar.danger {
  background: $danger;
  color: white;
  min-height: 30px;
  height: 30px;
  mat-toolbar-row.mat-toolbar-row {
    justify-content: center;
    font-size: 14px;
  }
}
