<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="logo" routerLink="/">
      <img alt="Modus Logo" src="assets/images/favicon-196x196.png">
    </div>
    <div class="title" routerLink="/">Modus Create</div>
    <span class="spacer"></span>
    <div class="action-btns">
      <button mat-button routerLink="/landing" routerLinkActive="active">Tasks</button>
      <button mat-button class="users-btn" *ngIf="(isLoggedIn$ | async)" routerLink="/users" routerLinkActive="active">
        Users
      </button>
      <button mat-button (click)="login()" *ngIf="!(isLoggedIn$ | async)">Login</button>
      <button mat-button (click)="signup()" *ngIf="!(isLoggedIn$ | async)">Signup</button>
    </div>
    <div class="profile-dropdown" *ngIf="(isLoggedIn$ | async)">
      <div class="initials" [matMenuTriggerFor]="menu">
        {{user.firstName.charAt(0)}}{{user.lastName.charAt(0)}}
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="logout-btn" (click)="logout()">
          <mat-icon>eject</mat-icon>
          Logout
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar class="danger" *ngIf="!(connected$ | async)">
  <mat-toolbar-row>No network connection</mat-toolbar-row>
</mat-toolbar>
