@import "~src/custom-material-app-theme.scss";

ngx-content-loading {
  padding: 16px;
  display: block;
  width: calc(100% - 32px);
}

mat-list.mat-list {
  padding: 0;
  mat-list-item.mat-list-item {
    padding: 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    &:hover {
      cursor: pointer;
      background-color: $primary-light;
      padding-left: 20px;
    }
    &:focus {
      outline: none;
    }
    h1 {
      font-size: 18px;
      text-transform: capitalize;
      margin-bottom: 8px;
    }
    mat-icon.mat-icon {
      font-size: 16px;
      vertical-align: middle;
      margin-bottom: -3px;
      color: $gray;
    }
  }
}

.no-network-placeholder {
  text-align: center;
  color: $gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 94px);
  width: 100%;
  mat-icon {
    width: 60px;
    height: 60px;
    font-size: 60px;
  }
  h2 {
    font-size: 18px;
  }
}
