<ngx-content-loading *ngIf="(loadingUsers$ | async)">
  <svg:g ngx-list-preset></svg:g>
</ngx-content-loading>

<mat-list *ngIf="(users$ | async),let users">
  <ng-container *ngFor="let user of users">
    <mat-list-item [routerLink]="['/users', user.id]">
      <h1 mat-line>{{user.firstName + ' ' + user.lastName}}</h1>
      <p mat-line>
        <mat-icon>email</mat-icon>
        {{user.email}}
      </p>
      <p mat-line>
        <mat-icon>phone</mat-icon>
        {{user.phone}}
      </p>
    </mat-list-item>
    <mat-divider></mat-divider>
  </ng-container>
</mat-list>

<div class="no-network-placeholder" *ngIf="!(users$ | async).length && !(connected$ | async)">
  <mat-icon>network_check</mat-icon>
  <h2>Please connect to download users</h2>
</div>
