/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-deep-purple, 500, 50, 800);
$candy-app-accent: mat-palette($mat-amber, A400, A100, A700);
$candy-app-danger: mat-palette($mat-red, A400, A100, A700);
$candy-app-light: mat-palette($mat-grey, 200, 50, 400);

$primary: mat-color($candy-app-primary);
$primary-light: mat-color($candy-app-primary, lighter);
$primary-dark: mat-color($candy-app-primary, darker);

$danger: mat-color($candy-app-danger);

$gray: mat-color($candy-app-light, darker);
$silver: mat-color($candy-app-light, lighter);

// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);
