/* You can add global styles to this file, and also import other style files */

// GLOBAL STYLES

.app-btn {
  padding: 8px 16px;
  font-size: 14px;
  background: white;
  border-radius: none;
  outline: none;
  box-shadow: none;
}

body {
  font-family: Roboto, sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}
